
body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    }

    main{

        background-color: rgb(245, 220, 220);
        min-height: 100vh;
        }

    header{
    display: grid;
    height: 100vh;
    grid-template-rows: 1.5fr 3.5fr;
    }
    .entete{
    background-color: aqua;
    }
    .corps{
    display: grid;
    height: 80vh;
    grid-template-columns: 3.5fr 1.5fr;
    }
    
    .partie1{
    background-color: rgb(166, 255, 0);
    }
    .SP1{
        display: grid;
        grid-template : 1fr 1fr 1fr / 1fr 1fr;
        grid-column-gap : 20px ;
        grid-row-gap : 20px ;
        padding: 20px;
    }
.article{
    border-radius: 10px;
    background-color: rgb(195, 201, 206);

}
  



    .partie2{
    background-color: brown;
    }
    


    