

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    }
    header{
    display: grid;
    height: 100vh;
    grid-template-rows: 1.5fr 3.5fr;
    }
    .entete{
    background-color: aqua;
    }
    .corps{
    display: grid;
    height: 80vh;
    grid-template-columns: 3.5fr 1.5fr;
    }
    
    .partie1{
    background-color: rgb(166, 255, 0);
    }
    .partie2{
    background-color: brown;
    }
    
    
    
    main{
/*<<<<<<< HEAD*/
    background-color: #0008f8;
/*=======*/

    background-color: blue;
/*>>>>>>> c6caf49da1ef795bba64e5dac739f345e04b77de*/
    
    }

    .menu{

        color: white;
        


}
/*<<<<<<< HEAD*/
.Announcements{
    font-size: 12px;
    padding: 15px;
    margin-left: 10px;
    color:black;
    display: colom;
  }
  .Announcements h1{
    font-size: 15px;  
  }
.menu li{
    list-style-type: none;
    margin:10px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
   
    
}
.divers{
    background-color: rgba(255, 255, 255, 0.311);
}
.Dashboard{
 color:white;
 font-size: 15px;  
 text-align: center; 
 cursor:unset;
}
.trending{
    list-style: none;
    border-radius: 50px; 
}
/*=======*/

  /*  background-color: rgb(245, 220, 220);*/
    
  /*  }

/*>>>>>>> c6caf49da1ef795bba64e5dac739f345e04b77de*/
